[submodule "RobotComponents"]
	path = RobotComponents
	url = https://github.com/great-guy102/RobotComponents.git
[submodule "Chassis2/HW-Components"]
	path = Chassis2/HW-Components
	url = https://github.com/ZJU-HelloWorld/HW-Components.git
[submodule "Gimbal2/HW-Components"]
	path = Gimbal2/HW-Components
	url = https://github.com/ZJU-HelloWorld/HW-Components.git
