[submodule "Gimbal2/HW-Components"]
	path = Gimbal2/HW-Components
	url = https://github.com/ZJU-HelloWorld/HW-Components.git
[submodule "Chassis2/HW-Components"]
	path = Chassis2/HW-Components
	url = https://github.com/ZJU-HelloWorld/HW-Components.git
